body{
font-family:fantasy,monospace,cursive;
font:16px fantasy,monospace,cursive;
font-weight:800;

}
 * {
 	box-sizing:border-box;
 }
 .rep{
 	padding:20px 20px 20px 20px; 
 	margin:5px 10px 5px 10px;
 }

 .tar{
 	padding:20px 20px 20px 20px;
 	margin:5px 10px 5px 10px;
 	font-style:italic;
 	letter-spacing: 0.2em; 
 }
 .container{
 	width:90%
 	margin:auto; 
 	text-align: center;
 	border:3px darkred solid;
 	border-radius:15px;
 	border-style: double; 
 }
 @media(max-width:600px){
 	#main{width:100%;

 }