
       body{
       	background-color:#833EED;
       }   
 	   .red {
 	  	background-color:red;
 	  	border:100px;
 	  	padding:100px 100px 100px 100px;
 	  	margin:10px 10px 10px 10px;
 	  	width:30%;
 	  	float:right; 
 	  	}
		
		 .yellow {
 	  	background-color:yellow;
 	  	border:120px;
 	  	padding:100px 100px 100px 100px;
 	  	margin:10px 10px 10px 10px;
 	  	width:45%;
 	  	float:left; 
 	  	}

 	  	
 	  .yeyellow {
 	  	background-color:yellow;
 	  	padding:100px 100px 100px 70px;
 	  	margin:0;
 	  	width:36%;

 	   float:top left
 		}
 		
 		.orange{
 	  	background-color:red;
 	  	padding:90px 90px 90px 90px;
 	  	margin:10px 10px 10px 10px;
 	  	width:25%;
 	   float:bottom;
 	   float:left; 
 		}
 	 
 		 .rered1{
 	  	background-color:red;
 	  	padding:100px 100px 100px 100px;
 	  	margin:10px 10px 10px 10px;
 	  	width:30%;
 	   float:right; 
 		}
 		 .yeyelllow1{
 	  	background-color:yellow;
 	  	padding:120px 120px 120px 120px;
 	  	margin:0;
 	  	width:25%;
 	   float:right;
 		}