body{
 background-color:#FFFEDF;
 color:coral;
 font-family: monospace;
 line-height:1.5em;
 margin:0;


}
h3{
	color:#9C241F ;
	padding:8px 4px 30px 20px;
    width: :80%;

}
.one{
	background-color:#2AACA7;

}
.center{
	float:left;
	width:35%;
}